<h3>Events</h3>
<% @events.each do |event| %>
  <h4><b><%= link_to event.name, event %></b> <%= event.date.strftime("%B %d, %Y") %></h4>
  <%= link_to :edit, edit_event_path(event) %>
  <%= button_to :delete, event_path(event), action: :delete, method: :delete, data: {confirm: "Are you sure you want to delete #{event.name}?"} %>
<% end %>
