/* STYLES FOR EVERY PAGE */

html{
  position:relative;
  min-height: 100%;
  max-width: 100%;
}

body{
  text-align: left;
  font-family: Merriweather;
  margin: 0 auto;
  left: 0;
  right: 0;
}

nav {
  background-color: #632600 !important;
  height: 20%;
  padding: 2%;
}

nav a {
  text-decoration: none;
}

.navbar-header a:hover{
  color: #632600
}

.navbar-brand {
  color: white !important;
  letter-spacing: 0.3em;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  width: 30%;
  padding-left: 5%;
}

nav ul {
  display: inline-block;
  list-style: none;
  float: right;
}

nav ul li {
  display: inline;
  margin: 0 10px;
  letter-spacing: 0.1em;
}

.navbar-default .navbar-nav>li>a {
  color: #f05023;
}

.page-content{
  margin: 0 auto;
  width: 90%;
}

footer {
  background-color: #632600 !important;
  padding: 2%;
  color: #ffffff;
  letter-spacing: 0.05em;
  height: .25vh;
  bottom: 0;
  position: absolute;
  width: 100%;
  font-size: 1vw;
  text-align: center;
  overflow: hidden;
}

footer p {
  margin: 0 auto;
  top: 50%;
}


/*LOG IN SPECIFIC THINGS*/

.login-registrations-wrapper {
  text-align: center;
  color: #f05023;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.login-registrations-wrapper div {
  padding: 1%;
}

.login-registrations-wrapper a {
  text-decoration: none;
}

.field label {
  color: #f05023;
  font-size: 1.75vw;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;  
  text-shadow:0px 1px 0px #ecebe9;
}

#worker_email, #worker_password {
  padding:6px 3px;
  border: 4px outset;
  text-decoration: none;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  cursor: pointer;
  text-shadow:0px 1px 0px #ecebe9;
  text-transform: lowercase;
  color: #f05023;
  font-size: 1.75vw;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
  width: 25%;
}


#shared-links-wrapper {
  text-transform: lowercase;
  margin-bottom: 10%;
}

#shared-links-wrapper a {
  /*position*/
  margin: 0 auto;
  display: block;
  width: 25%;
  text-align: center;

  /*button things*/
  padding:6px 3px;
  border: 4px outset;
  text-decoration: none;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  cursor: pointer;
  text-shadow:0px 1px 0px #ecebe9;
  text-transform: lowercase;

  /*text*/
  color: #f05023;
  font-size: 1.75vw;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

input[type="submit"]{
  color: #f05023;
  font-size: 1.75vw;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-decoration: none;
  
  width: 25%;
  font-family: Merriweather;
  border: 4px outset;
  background-color: white;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  padding: 6px 3px;
  text-shadow: 0px 1px 0px #ecebe9;
  text-transform: lowercase;
}

#shared-links-wrapper a:hover,
input[type="submit"]:hover {
  color: #632600;
}
input[type="submit"]:active {
  position:relative;
  top:1px;
}



.timecard{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.timecard tr th{
  text-align: center;
}

#notice_wrapper{
  color: red;
}

.errors {
  color: red;
  text-align: center;
}

.clock-in-out {
  float:left;
  display:inline;
  width: 50%;
}
